
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Begin Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A Creative Hotel Booking Template by CodeSymbol"/>
    <meta name="keywords" content="HTML, CSS, JavaScript, Responsive, Portfolio, Photography"/>
    <meta name="author" content="CodeSymbol"/>
    <!-- End Meta Tags -->

    <link rel="icon" href="../images/icon.jpg" />

    <!-- Begin Stylesheets -->
    <link type="text/css" rel="stylesheet" href="../includes/flaticons/icons.css">
    <link type="text/css" rel="stylesheet" href="../includes/fontawesome/icons.css">
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../js/swiper/swiper.css">
    <link type="text/css" rel="stylesheet" href="../js/magnific-popup/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="../css/animate.css">
    <link type="text/css" rel="stylesheet" href="../css/styles.css">
    <!-- End Stylesheets -->
    <script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>


<!-- 
================================================================================================================
================================================================================================================
    Preloader & Header
================================================================================================================
================================================================================================================
-->
    <!-- Begin Header -->
    <header class="position-absolute style-1">

        <!-- Begin Top Bar -->
        <div class="top-bar">

            <div class="wrapper-left">
                
                <p>Welcome to our Professional Hotel Booking Website</p>

            </div>

            <div class="wrapper-right">
                
                <p>Contact Us at: +346 788 9999 or +768 554 6867</p>

            </div>
            
        </div>
        <!-- End Top Bar -->

        <div class="content-wrapper">
            
            <!-- Begin Left Content -->
            <div class="content-left">
                
                <!-- Begin Logo -->
                <div class="logo">
                    <a href="index.html">
                        <img src="../images/logo-mbala.png" alt="Cassida">
                    </a>
                </div>
                <!-- End Logo -->

            </div>
            <!-- Begin Left Content -->

            <!-- Begin Center Content -->
            <div class="content-center">


                <!-- Begin Mobile Nav Icon -->
                <span class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <!-- End Mobile Nav Icon -->

                <!-- Begin Navigation -->
                <nav>
                    <ul>

                        <li class="mega-menu two-columns">
                            <a href="#"><span>Home</span></a>
                            
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="index.html"><span>Intro Slider</span></a></li>
                                        <li><a href="home-label-slider.html"><span>Label Slider</span></a></li>
                                        <li><a href="home-list-slider.html"><span>List Slider</span></a></li>
                                        <li><a href="home-slider-focused.html"><span>Horizontal Focused</span></a></li>
                                        <li><a href="home-strips-slider.html"><span>Strips Slider</span></a></li>
                                        <li><a href="home-boxed-slider.html"><span>Boxed Slider</span></a></li>
                                        <li><a href="home-vertical-slider.html"><span>Vertical Slider</span></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <ul>
                                        <li><a href="home-big-slider.html"><span>Big Slider</span></a></li>
                                        <li><a href="home-block-slider.html"><span>Block Slider</span></a></li>
                                        <li><a href="home-fullscreen-slider-1.html"><span>Fullscreen Slider 1</span></a></li>
                                        <li><a href="home-fullscreen-slider-2.html"><span>Fullscreen Slider 2</span></a></li>
                                        <li><a href="home-sliced-slider-1.html"><span>Sliced Slider 1</span></a></li>
                                        <li><a href="home-sliced-slider-2.html"><span>Sliced Slider 2</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="status-active">
                            <a href="#"><span>Rooms & Suites</span></a>

                            <ul>
                                <li><a href="rooms-archive-1.html"><span>Rooms Archive 1</span></a></li>
                                <li><a href="rooms-archive-2.html"><span>Rooms Archive 2</span></a></li>
                                <li><a href="rooms-archive-3.html"><span>Rooms Archive 3</span></a></li>
                                <li class="status-active"><a href="room-details.html"><span>Room Details</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="restaurant.html"><span>Restaurant</span></a>
                        </li>

                        <li>
                            <a href="#"><span>Pages</span></a>

                            <ul>
                                <li><a href="page-about.html"><span>About</span></a></li>
                                <li><a href="page-services.html"><span>Services</span></a></li>
                                <li><a href="page-facilities.html"><span>Facilities</span></a></li>
                                <li><a href="page-team-1.html"><span>Team 1</span></a></li>
                                <li><a href="page-team-2.html"><span>Team 2</span></a></li>
                                <li><a href="page-pricing.html"><span>Pricing</span></a></li>
                                <li><a href="page-contact.html"><span>Contact</span></a></li>

                                <li class="menu-item-has-children">
                                    <a href="page-gallery-slider-1.html"><span>Gallery</span></a>

                                    <ul>
                                        <li><a href="page-gallery-slider-1.html"><span>Gallery Slider 1</span></a></li>
                                        <li><a href="page-gallery-slider-2.html"><span>Gallery Slider 2</span></a></li>
                                        <li><a href="page-gallery-grid-2.html"><span>Gallery Grid 2 Columns</span></a></li>
                                        <li><a href="page-gallery-grid-3.html"><span>Gallery Grid 3 Columns</span></a></li>
                                        <li><a href="page-gallery-grid-4.html"><span>Gallery Grid 4 Columns</span></a></li>
                                        <li><a href="page-gallery-grid-nogap.html"><span>Gallery Grid No Gap</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="blog-archive-1.html"><span>Blog</span></a>

                            <ul>
                                <li><a href="blog-archive-1.html"><span>Archive 1</span></a></li>
                                <li><a href="blog-archive-2.html"><span>Archive 2</span></a></li>
                                <li><a href="blog-single-post.html"><span>Single Post</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- End Navigation -->
                
            </div>
            <!-- Begin Center Content -->

            <!-- Begin Right Content -->
            <div class="content-right">

                <!-- Begin Social Icons -->
                <ul class="social-icons">
                    <li><a href="#" class="icon-fa-facebook"></a></li>
                    <li><a href="#" class="icon-fa-twitter"></a></li>
                    <li><a href="#" class="icon-fa-instagram"></a></li>
                    <li><a href="#" class="icon-fa-dribbble"></a></li>
                </ul>
                <!-- End Social Icons -->
                
            </div>
            <!-- Begin Right Content -->

        </div>

    </header>
    <!-- End Header -->

    <main class="room-single">
        <div class="room-header">
            <div class="bg">
                <img src="/uploads/<%= property.mainImage %>" alt="<%= property.title %>">
            </div>

            
    
            <div class="wrapper">
                <div class="info">
                    <span class="room-title"><%= property.title %></span>
                    <div class="room-details">
                        <p><span class="label">Size:</span><span class="content"> <%= property.size %></span></p>
                        <p><span class="label">Beds:</span><span class="content"><%= property.bedrooms %> </span></p>
                        <p><span class="label">Bathrooms:</span><span class="content"><%= property.bathrooms %></span></p>
                    </div>
                </div>
                <div class="room-price">
                    <span class="current-price">Price on request</span>
                </div>
            </div>
        </div>
        <div class="room-content">
            <div class="section-wrapper-boxed">
                <div class="row space">
                 
                    <div class="column two-third no-margin-bottom">
                        <h3>Discover all the awesome details:</h3>
                        
                            <i class="icon-fi-maximize"> Size:  </i><%= property.size %> sq.
                            <li><i class="icon-fi-bed-6"> Beds: </i><%= property.bedrooms %></li>
                            <li><i class="icon-fi-bathtub-1">  Bathrooms:  </i><%= property.bathrooms %></li>
                        
                    
                        <div class="divider20"></div>
                        <p><%= property.description %></p>
                    
                        <div class="divider30"></div>
                    

                      

                          <% if (property.additionalImages && property.additionalImages.length > 0) { %>
                        <div class="gallery style-grid size-2-columns">
                            <% property.additionalImages.forEach(function(image) { %>
                                <img src="/uploads/<%= image %>" alt="Additional Image">
                              <% }); %>
                        </div>
                        <% } %>
                    </div>

               

                    <style>
                        .container1 {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding: 20px;
                        }
                        .content1 {
                            width: 100%;
                        }
                        .booking-modal {
                            width: 100%;
                            top: 70px;
                            right: 30px;
                            background: #fff;
                            border: 1px solid #ddd;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        }
                        .booking-modal h2 {
                            margin-top: 0;
                        }
                        .booking-step {
                            margin-bottom: 15px;
                        }
                        .booking-step input {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #ddd;
                            border-radius: 4px;
                        }
                        .booking-modal-actions {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                        }
                        .btn {
                            padding: 10px 20px;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                        .btn-primary {
                            background-color: rgb(190, 161, 0);
                            color: #fff;
                        }
                        .btn-secondary {
                            background-color: #ddd;
                            color: #000;
                        }

                        /* Reset z-index for potential interfering parent elements */


/* Fix for the Yoco popup */
.yoco-overlay,
.yoco-container {
    position: fixed !important; /* Always visible */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999 !important; /* Absolute highest priority */
    background-color: rgba(0, 0, 0, 0.5); /* Optional background overlay */
}

.wrapper {
    z-index: 999999 !important; /* Absolute highest priority */
}

.yoco-popup {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000 !important; /* Above the overlay */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Clear visibility */
}

/* Modal container styles */
.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal backdrop */
.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-content {
  position: relative;
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

/* Modal header */
.modal-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.modal-icon {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background: #ffe6e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.modal-icon svg {
  width: 24px;
  height: 24px;
  color: black;
}

.modal-text h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.modal-text p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}

/* Modal footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}


.btn-secondary {
  background: #f4f4f4;
  color: #333;
}

.hidden {
  display: none;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


                    </style>

<div class="container1">
    <!-- Main Content -->
    <div class="content1">
        <!-- Booking Modal -->
        <div class="booking-modal" id="bookingModal">
            <h2>Book Your Stay</h2>

            <!-- Booking Form -->
            <form action="/property/<%= property._id %>/enquire" method="POST">
                <!-- Name & Surname -->
                <div class="form-group booking-step">
                    <label for="fullName">Name & Surname:</label>
                    <input class="input"
                    type="text" id="name" name="name" placeholder="Enter Your Name" required
                    >
                </div>

                <!-- Contact Information -->
                <div class="form-group booking-step">
                    <label for="contactNumber">Contact Number:</label>
                    <input class="input"
                    type="text" id="contactNumber" name="contactNumber"
                        placeholder="Enter your contact number" 
                        required >
                </div>

                <div class="form-group booking-step">
                    <label for="email">Email:</label>
                    <input class="input"
                    type="email" id="email" name="email"
                        placeholder="Enter your email address" 
                        required
                    >
                </div>

                <!-- Pickup & Drop-off Dates -->
                <div class="form-group booking-step">
                    <label for="pickupDate">Check In:</label>
                    <input class="input"
                    type="date" id="checkInDate" name="checkInDate"
                        required
                    >
                </div>

                <div class="form-group booking-step">
                    <label for="dropoffDate">Check Out</label>
                    <input class="input"
                    type="date" id="checkOutDate" name="checkOutDate"
                        required
                    >
                </div>

                <!-- Number of Guests -->
                <div class="form-group booking-step">
                    <label for="guestCount">Number of Guests:</label>
                    <input class="input"
                    type="number" id="numberOfGuests" name="numberOfGuests" min="1"
                        required
                    >
                </div>

                <!-- Additional Requests/Notes -->
                <div class="form-group booking-step">
                    <label for="additionalRequests">Additional Requests/Notes:</label>
                    <textarea class="input"
                    id="additionalRequests" name="additionalRequests"
                        placeholder="Enter any additional requests or notes"
                    ></textarea>
                </div>

                <!-- Price on Request Display -->
                <p class="price-por">Price: <strong>Price on Request</strong></p>

                <!-- Hidden Input for Apartment ID -->
              

                <!-- Booking Buttons -->
                <div class="booking-modal-actions">
                    <button type="submit" class="btn btn-primary">
                        Request Price
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
 


<!-- Modal Template -->
<div id="alertModal" class="modal hidden">
    <div class="modal-backdrop"></div>
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-icon">
            <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.24 17H8.76m-3.524 0a6.976 6.976 0 01-.735-1.5H18.5a6.975 6.975 0 01-.736 1.5M4.8 15.5h14.4M4.8 15.5l.688-6.33A5.25 5.25 0 0110.664 4.5h2.672a5.25 5.25 0 015.176 4.67l.688 6.33M4.8 15.5c.282 0 .511.222.511.5v.5c0 2 1.47 3.5 3.3 3.5h7.778c1.83 0 3.3-1.5 3.3-3.5v-.5c0-.278.23-.5.512-.5" />
            </svg>
          </div>
          
        <div class="modal-text">
          <h3 id="modalTitle">Modal Title</h3>
          <p id="modalMessage">Modal message goes here.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modalConfirmBtn" class="btn hidden">Confirm</button>
        <button id="modalCancelBtn" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
  


  
                
                    
                    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                    <script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
                   
                    

                    
                </div>
            </div>
        </div>
    </main>

    


    

    

<!-- 
================================================================================================================
================================================================================================================
    Footer
================================================================================================================
================================================================================================================
-->

<footer>
    <div class="inner-wrapper">

        <div class="main-content row space clearfix">

            <div class="intro-content column full">

                <div class="logo">
                    <a href="index.html" class="logo-link">
                        <img src="../images/logo-white-mbala.png" alt="Cassida">
                    </a>
                </div>

                <div class="description">
                    <p>Welcome to Mbala's Manor. Born out of a vision to create a serene retreat in the heart of Sandton, our boutique apartments combine minimalist Japandi design with modern luxury. <br/>Mbala's Manor is a haven where simplicity meets sophistication, offering a peaceful escape for those seeking both comfort and inspiration.<br/>A place where relaxation and style converge for the perfect stay.</p>
                </div>

            </div>

            <div class="column one-third">

                <div class="footer-menu">
                    
                    <h3>Discover</h3>

                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="rooms-archive-1.html">Rooms</a></li>
                        <li><a href="restaurant.html">Restaurant</a></li>
                        <li><a href="page-about.html">Pages</a></li>
                        <li><a href="blog-archive-1.html">Blog</a></li>
                    </ul>

                </div>

            </div>

            <div class="column one-third">

                <div class="footer-menu">
                    
                    <h3>Experiences</h3>

                    <ul>
                        <li><a href="restaurant.html">Dining</a></li>
                        <li><a href="page-facilities.html">Wellness & Spa</a></li>
                        <li><a href="restaurant.html">The Restaurant</a></li>
                        <li><a href="restaurant.html">Menu</a></li>
                        <li><a href="page-services.html">Local Activies</a></li>
                    </ul>

                </div>

            </div>

            <div class="column one-third last">

                <div class="footer-menu footer-contact">
                    
                    <h3>Contact Us</h3>

                    <ul>
                        <li><a href="#"><span class="__cf_email__" data-cfemail="7b1914141012151c3b181a0808121f1a55181416">[email&#160;protected]</span></a></li>
                        <li><a href="#">+27 69 984 5463</a></li>
                        <li><a href="#">Houghton</a></li>
                        <li class="social-icons">
                            <ul>
                                <li><a href="#" class="icon-fa-facebook"></a></li>
                                <li><a href="#" class="icon-fa-twitter"></a></li>
                                <li><a href="#" class="icon-fa-instagram"></a></li>
                                <li><a href="#" class="icon-fa-dribbble"></a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>

        </div>


        <div class="bottom-bar">

            <div class="wrapper-left">
                <p>© 2024 <a href="#">Mbala Web Services</a>, All Rights Reserved</p>
            </div>

            <div class="wrapper-right">
                <ul class="bottom-bar-links">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            
        </div>
        

    </div>
</footer>



<!-- 
================================================================================================================
================================================================================================================
Javascript files
================================================================================================================
================================================================================================================
-->

<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/jquery.js"></script>
<script src="../js/modernizr.js"></script>
<script src="../js/easing.js"></script>
<script src="../js/imagesloaded.js"></script>
<script src="../js/waypoints.js"></script>
<script src="../js/swiper/swiper.js"></script>
<script src="../js/magnific-popup/magnific-popup.js"></script>
<script src="../js/scripts.js"></script>


    

</body>
</html>
   